{{#extend 'styles'}}
  <style>
    .error {
      color: red;
    }
    .success {
      color:green;
    }
  </style>
{{/extend}}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Shopping Cart
    <small>All products listed</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{{{url 'dashboard.v1'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">List</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-xs-12">
      {{#if message}}
        {{{message}}}
      {{/if}}
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Cart</h3>
          <div class="box-tools">
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>Productname</th>
              <th>Display Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Item Total</th>
              <th>Actions</th>
            </tr>
            {{#each crud_cart }}
              <tr>
                <td>
                  <a href="/crud/product/{{this.id}}">
                    {{this.id}}
                  </a>
                </td>
                <td>
                  <a href="/crud/product/{{this.id}}">
                    {{this.productname}}
                  </a>
                </td>
                <td>{{this.displayName}}</td>
                 <td>{{this.productprice}}</td>
                 <td>{{this.quantity}}</td>
                 <td>{{multreturn this.quantity this.productprice}}</td>
                <td>
                 <a href="#" class="btn btn-xs btn-danger" data-href="/crud/cart/{{this.id}}?_method=delete">
                    <i class="glyphicon glyphicon-remove"></i>
                    Delete
                  </a>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.section -->

      <div class="box"  align="right">
          <h3 class="box-title" > 
          Supply Costs:{{ revtotal crud_cart }}</h3 >
                    <h3 class="box-title" > 
          Estimated Tax:  {{ revtaxtotal crud_cart }}</h3 >
          <h3 class="box-title" > 
          Estimated Total:  {{ revplustaxtotal crud_cart }}</h3>
          </div>

{{#extend 'scripts'}}
  <script>
    (function($) {
      // Delete product button
      $('.btn-danger').click(function(event) {
        event.preventDefault();

        var uri = $(this).attr('data-href');
        
        if (confirm('Delete this item?')) {
          $.post(uri, function(response) {
            window.location.href = '/crud/carts';
          });
        }
      });
    })(jQuery)
  </script>
{{/extend}}