{{#extend 'styles'}}
  <style>
    .error {
      color: red;
    }
    .success {
      color:green;
    }
  </style>
{{/extend}}

{{#*inline "myPartial"}}
  My Content
{{/inline}}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    List Products
    <small>All products listed</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{{{url 'dashboard.v1'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">List</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">


<div class="thistest"></div>
  <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                 Choose Dept
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" id ='ddmenu'>
            {{#each crud_cats }}
              <li><a href="#">{{this}}</a></li>
            {{/each}}           
            </ul>
        </div>

  <div class="row">
    <div class="col-xs-12">
      {{#if message}}
        {{{message}}}
      {{/if}}
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">All products</h3>
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" id="table-search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="button" class="btn btn-default search"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->

        <div class="box-body table-responsive no-padding">
          <table class="table table-hover thistable">
            <tr>
              <th>ID</th>
              <th>Productname</th>
              <th>Category</th>
              <th>Display Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Actions</th>
            </tr>
            {{#each crud_product2}}
            
              <tr>
             
                <td>
                  <a href="/crud/product/{{this.id}}">
                    {{this.id}}
                  </a>
                </td>
                <td>
                  <a href="/crud/product/{{this.id}}">
                    {{this.productname}}
                  </a>
                </td>
                <td>{{this.category}}</td>
                <td>{{this.displayName}}</td>
                 <td>{{this.productprice}}</td>
                <td>     
                 <form action="{{{url 'cart.create'}}}" method="post">      
                <input type="text" size = "3" class="form-control" name="quanity" placeholder="#" required/>
                </td>
                <td>
                <button type="submit" name = "id" value = {{this.id}} class="btn-link">Add to Cart</button>
                </td>
                 </form>
              </tr>
            {{/each}}
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.row -->
</section>
<!-- /.section -->
{{#extend 'scripts'}}

  <script>
    (function($) {
      // Delete user button
      $('.btn-danger').click(function(event) {
        event.preventDefault();
        var uri = $(this).attr('data-href');
        
        if (confirm('¿Desea eliminar el usuario?')) {
          $.post(uri, function(response) {
            window.location.href = '/crud/users';
          });
        }
      });

      function RefreshSomeEventListener() {
    // Remove handler from existing elements
    $("#wrapper .specific-selector").off(); 

    // Re-add event handler for all matching elements
    $("#wrapper .specific-selector").on("click", function() {
        // Handle event.
    });
}

$(document).ready(function() {
    // Other ready commands / code

    // Call our function to setup initial listening
    RefreshSomeEventListener();
});

$(document).ready(function() {
function eatFood() {
alert('Form has been submitted');
};});

$(function(){
    $(document).on('click','.dropdown-menu li a', function(event) {
    //alert($(this).text());
    $('.thistest').text($(this).text());


     $.ajax({
      url: '/box',
      type: 'get',
      data: {"id" : $(this).text()},
      dataType: 'json',
      success: function (data) {
       var data2 =JSON.stringify(data);
       var data3 = JSON.parse(data2);
       $('.thistable tbody').remove();
       var trHTML = '<div class="box-body table-responsive no-padding">' +
          '<table class="table table-hover thistable">' +
            '<tr>' +
              '<th>ID</th>' +
              '<th>Productname</th>' +
              '<th>Category</th>' +
              '<th>Display Name</th>' +
              '<th>Price</th>' +
              '<th>Quantity</th>' +
            '</tr>';
            //$('#box').prepend(trHTML_first);
          //var trHTML = '';

        $.each(data3, function (i, item) {
        //console.log(i);
            trHTML += '<tr>' + 
            '<td><a href="/crud/product/' +  item.id +  '">' +  item.id + '</a></td>' + 
            '<td><a href="/crud/product/' +  item.id +  '">' +  item.productname + '</a></td>' + 
            '<td>' +  item.category + '</td>' + 
            '<td>' +  item.displayName + '</td>' +
            '<td>' +  item.productprice + '</td>' + 
            '<td><div><div class="input-group input-group-sm" style="width: 20px;"><form action="/crud/cart" method="post">  ' +
            '<input type="text" size = "3" class="form-control pull-right" name="quanity" placeholder="#" required/>'  + 
'<div class="pull-right"><button  type="submit" name = "id"  value = ' + item.id + ' class="btn btn-default search active" ><i class="fa fa-plus"></i> </button></div></div></div></td></form>' + 
            '</tr>';
        });
        trHTML += '</table></div>';

        console.log(trHTML);
        $('.thistable').append(trHTML);
        //$(".thistable tr:last").find("td:last").append(trHTML);
         //return false;
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        console.log('error', errorThrown);
      }
    });
});});




    })(jQuery)
  </script>


{{/extend}}